<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>InsurenceDomine</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>InsurenceDomineFetchServlet</servlet-name>
    <servlet-class>com.InsurenceDomine.controller.InsurenceDomineFetchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsurenceDomineFetchServlet</servlet-name>
    <url-pattern>/InsurenceDomineFetchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FetchCustomers</servlet-name>
    <servlet-class>com.InsurenceDomine.controller.FetchCustomers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchCustomers</servlet-name>
    <url-pattern>/FetchCustomers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsurenceData1</servlet-name>
    <servlet-class>com.InsurenceDomine.controller.InsurenceData1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsurenceData1</servlet-name>
    <url-pattern>/InsurenceData1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FetchServlet</servlet-name>
    <servlet-class>com.InsurenceDomine.controller.FetchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchServlet</servlet-name>
    <url-pattern>/FetchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClaimServlet</servlet-name>
    <servlet-class>com.InsurenceDomine.controller.ClaimServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaimServlet</servlet-name>
    <url-pattern>/ClaimServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.InsurenceDomine.controller.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClaimDataView</servlet-name>
    <servlet-class>com.InsurenceDomine.controller.ClaimDataView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaimDataView</servlet-name>
    <url-pattern>/ClaimDataView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaimOrallView</display-name>
    <servlet-name>ClaimOrallView</servlet-name>
    <servlet-class>com.InsurenceDomine.controller.ClaimOrallView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaimOrallView</servlet-name>
    <url-pattern>/ClaimOrallView</url-pattern>
  </servlet-mapping>
</web-app>